body {
    background: #f1f1f1;

}

.page {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    border-radius: 6px;
}